<div class="homePage">
	<div class="container text-center">
		<img id="hm-logo" class="img-responsive center-block" src="images/hotmart-logo.png" alt="hotmart-logo">
		<h1>Front-end Test</h1>
	</div>
	<div class="container">
		<form action="/login" method="post">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="form-group">
					    <label for="label">Email</label>
					    <input type="email" class="form-control" name="email" placeholder="email@dominio.com">
					</div>		
				</div>
			</div>
			<div class="row">
			  	<div class="col-md-4 col-md-offset-4">
					<div class="form-group">
				    	<label for="address">Password</label>
				    	<input type="password" class="form-control" name="password" placeholder="password">
				  	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<input id="loginBtn" type="submit" name="submit" value="Login" class="btn btn-default">
				</div>
			</div>
		</form>
	</div>
</div>	